
.nav {
    background-color: rgb(0,0,100); 
    color:blanchedalmond; 
    width: 80%; 
    height: 3.25rem;
    margin-left: 10%; 
    margin-top: 2%; 
    float: left;
}

.nav div {
    font-weight: bold;
    text-align: center;
    color: blanchedalmond;
    font-size: 20px;
    margin-left: 13.5%;
    margin-top: 1%;
    float: left;
}

.nav span {
    visibility: hidden; 
}

.nav:hover span {
    visibility: visible;
}

.card1 {   
    position: relative;
    width: 100px;
    height:100px;
}

.card2 {
    position: fixed;
    width: 100px;
    height:100px;
}

.card3 {
    position: absolute;
    width: 100px;
    height:100px;
}

.leyvaten1 {
    z-index: 1;
    left:150px;
    top: 150px;
}

.leyvaten2 {
    z-index: 2;
    left:150px;
    top: 200px;
}

.titanic {
    z-index: 3;
    left:240px;
    top:0px;
}

.cipher {
    z-index: 1;
    left:700px;
    top: 400px;
}

.FA {
    z-index: 2;
    left: 800px;
    top: 300px;
}

.thorough {
    z-index: 4;
    right: 550px;
    top: 400px;
}

.drident {
    z-index: 4;
    right: 450px;
    top: 300px;
}