#head1 {
    background-color: 
    rgb(255,255,255); 
    color: rgb(100,0,0); 
    width: 100%;
}

.htext1 {
    font-size: 55px; 
    padding-top: 3%; 
    font-weight: bold;
    text-shadow: 5px 5px 2px rgb(150,150,150);
}

.htext2 {

    font-size: 30px; 
    font-weight: bold;
}

.htext3 {
    margin-left: 10%; 
    width: 50%;   
}

.htext4 {
    
    width: 50%;
    float: left;
}

#head2 {
    text-shadow: 5px 5px 3px rgb(151,151,151);
    font-size: 35px; 
    font-weight: bold; 
    
}

.menu-header {
    text-align: center; 
    margin-top: 1%; 
    margin-bottom: 1.5%;
}

#header3 {
    text-align: center; 
    margin-top: 1%; 
    margin-bottom: 1.5%;
}

#store1 {
    text-shadow: 5px 5px 3px rgb(151,151,151);
    font-size: 35px; 
    font-weight: bold; 
    margin-left: 0.5%;
}

#store2 {
    margin-left: 0.5%;
}
