body {
    background-color: blanchedalmond; 
    color: rgb(100,0,0);
}

.shift {
    margin-left: 10%; 
}

.cover {
    background-size: cover;
    background-image: url(../images/beans2.png); 
}

.text-box1 {
    margin-left: 10%; 
    margin-top: 20%; 
    float: left; 
    width: 37.5%;
}

.home-img {
    width: 100%; 
    height: 10%;
}

.text1 {
    text-shadow: 0px 0px 15px blanchedalmond;
    font-size: 30px; 
    font-weight: bold;
}

.text2 {
    text-shadow: 0px 0px 15px blanchedalmond;
    font-size: 20px;
}

.blank {
    float: left; 
    width: 5%;
}

.text-box2 {
    margin-top: 10%; 
    float: left; 
    width: 47.5%;
}

.tree {
    margin-top: 15%; 
    float: left; 
    width: 37.5%;
}

.bond1 {
    float: left; 
    width: 5%;
}

.cafe {
    margin-left: 10%; 
    margin-top: 5%; 
    float: left; 
    width: 37.5%;
}

.bond2 {
    margin-bottom: 15%; 
    clear: both;
}


#drink {
    font-size: 25px; 
    font-weight: bold; 
    margin-left: 2.5%;
}

.menutable {
    background-color:rgb(27,60,53); 
    color: antiquewhite; 
    border: 5px solid rgb(100,0,0); 
    width: 45%; 
    float: left;
    box-shadow: 20px 20px 10px gray;
}

.menuhead {
    text-shadow: 5px 5px 3px rgb(20,20,20);
    color: floralwhite; 
    font-size:25px ;
    
}

.menucell {
    width: 20%;
}

.img-size {
    width: 50%; 
    height: 50%;
}

#list {
    clear: both; 
    font-size: 13px; 
    padding-top: 0.5%; 
    padding-bottom: 1%;
}



.store-list {
    width: 50%; 
    margin-left: 25%;
}

.store-item {
    margin-top: 2%;
}

.storeimg {
    width: 10%;
    height: 10%;
    border-radius: 15px;
    float: left;
}

.store-text1 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 2.8%;
}

.store-text2 {
    font-size: 17px;
    margin-left: 2.8%;
}

.store-text3 {
    color: rgb(144,144,144);
    font-size: 17px;
    margin-left: 2.8%;
}

.line {
    border: 2px solid rgb(100,0,0);
}

.list {
    border: 1px solid rgb(100,0,0);
}

.blank1 {
    width: 2.5%; 
    float: left;
}

.blank2 {
    width: 5%; 
    float: left;
}

