div {
    padding-left: 30px;
    padding-top: 30px;
}

p {
    font-size: 18px;
    transform: translateY(-15px);
    padding-left: 20px;
}

i{
    font-style: normal;    
    font-weight: bold;
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 20px;
}

#title {
    font-size: 30px;
    padding-left: 0px;
    color: darkolivegreen;    
}